[user]
    name = Jakub Michalak
    email = michalakjakub1999@gmail.com
[pull]
    rebase = true
[diff]
    colorMoved = zebra
[merge]
    ; TODO: change vimdiff to delta or sth
    tool = vimdiff
[alias]
    top = log --pretty=format:'%C(yellow)%h %Cred%ai %t %Cblue%an%Cgreen%d %Creset%s'
[includeIf "gitdir:~/work/"]
    path = .gitconfig-work
