.config/.mono/
.config/GIMP/
.config/KeePass/
.config/QtProject.conf
.config/calibre/
.config/configstore/
.config/dconf/
.config/dunst/
.config/enchant/
.config/gconf/
.config/gtk-2.0/
.config/guvcview2/
.config/htop/
.config/keepassxc/
.config/libreoffice/
.config/mimeapps.list
.config/pulse/
.config/qutebrowser/
.config/ranger/
.config/syncthing/
.config/tint2/
.config/transmission/
.config/trizen/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wireshark/
